.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
Misc/AutoConnectVPN.bat
Misc/backup_test.bat
Misc/backup.bat
Misc/compress.ps1
Misc/initial.ps1
Misc/ConnectVPN.ps1
